
# Cumulus SNMP Role

Configure Simple Network Management Protocol

Variable | Choices/Defaults | Type
--- | --- | ---
snmp.addresses|list of snmp servers.|List of Strings
snmp.rocommunity|read-only community string string.|String

## Examples
{% for inventory in list_of_inventories.stdout.split('\n') %}
<details><summary markdown="span">{{ inventory }}</summary>
{%   for switch in hosts_per_inventory.results|selectattr('item', 'defined')|map(attribute='stdout_lines')|first %}
{{ switch }}
<pre><code>snmp:
{{ hostvars[inventory_hostname][inventory + '_' + switch]["snmp"]|default('N/A')|to_nice_yaml( width=50 )|trim|indent(2, indentfirst=True) }}
</code></pre>
{%   endfor %}
</details>
{% endfor %}
